[defaults]
inventory = ./inventory
remote_user = student
host_key_checking = false
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path = ./roles:~/.ansible/roles:/etc/ansible/roles:/usr/share/ansible/roles
ansible_managed = Ansible managed - {file} managed on %m-%d-%Y by {uid}  

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
